#navbar-container {
  font-family: "Quicksand", sans-serif;
  border-bottom: 1px solid black;
}

/*MENU*/

#menu-container {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  transition: all 0.5s;
}

#menu-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  background: black;
}

#menu-container li.brand {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  padding: 0 1em;
  background: white;
  transition: all 0.5s;
}

li.brand img {
  height: 40px;
}

li.brand p {
  margin: 0;
}

#menu-container li.bars-icon {
  display: none;
}

#menu-container.topNav .bars-icon {
  max-width: 50px;
  font-size: 30px;
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px gray;
  cursor: pointer;
}

#menu-container li a {
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s;
}

@media screen and (max-width: 600px) {
  #menu-container.topNav li.menu-item {
    display: none;
  }

  #menu-container.topNav li.bars-icon {
    display: block;
  }
}
